.App {
  font-family: sans-serif;
  text-align: center;
}
.Answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: black;
  color: white;
  height: 45px;
  width: 60%;
}
.ButtonPad {
  padding: 0;
  margin: auto;
}
.w3-button {
  width: 15%;
}
